{% comment %}
  Renders a card

  Accepts:
  - block: {Object} Settings for the card
  - css_class: {String} CSS class to add to the card (optional)
  - layout: {String} Card layout. Values are "vertical", "horizontal" and "stacked". Default is "vertical"
  - media_aspect_ratio: {String} Size of the image card. Values are "adapt", "square", "portrait" and "landscape". Default is "square"
  - card_content_vertical_position: {String} Position of the card content. Values are "top", "middle" and "bottom". Default is "middle"
  - title_layout: {String} Title layout. Values are "vertical" and "horizontal". Default is "vertical"
  - enable_divider: {Boolean} Enable divider. Default is false
  - button_text: {String} Text of the card button
  - button_style: {String} Style of the button. Values are "deployer-button", "deployer-button deployer-button--secondary" and "deployer-button deployer-button--tertiary". Default is "deployer-button"
  - button_full_width: {Boolean} Make the button full width. Default is false
  - alignment: {String} Alignment of the card. Values are "center", "left" and "right". Default is "center"
  - alignment_margin: {String} Alignment of elements in the card that need to be aligned with margin
  - page_width: {Number} Page width
  - fetch_priority: {String} Fetch priority

  Usage:
  {% render 'deployer-card', block: block %}
{% endcomment %}

{%- liquid
  assign item_id = block.id
  assign card_id = section.id | append: '__' | append: item_id
  assign card_settings = block.settings

  assign highlight_card = card_settings.highlight_card
  assign image = card_settings.image
  assign badge = card_settings.badge
  assign url = card_settings.url
  assign stars = card_settings.stars | default: 0
  assign title = card_settings.title
  assign description = card_settings.description
  assign bullet_points = card_settings.bullet_points
  assign bullet_point_icon = card_settings.bullet_point_icon
  assign button_text = button_text | default: card_settings.button_text
  assign button_link = card_settings.button_link
  assign footer_text = card_settings.footer_text

  if highlight_card
    assign css_class = css_class | append: 'deployer-card--highlighted'
  endif

  assign ratio = 1
  if media_aspect_ratio == 'adapt'
    assign ratio = image.aspect_ratio
  elsif media_aspect_ratio == 'portrait'
    assign ratio = 0.8
  elsif media_aspect_ratio == 'landscape'
    assign ratio = 1.2
  endif
  if ratio == 0 or ratio == null
    assign ratio = 1
  endif
-%}

<deployer-card
  data-id="{{ card_id }}"
  class="deployer-card deployer-card--{{ layout }} {{ css_class }}"
  style="--deployer-card-alignment: {{ alignment }}; --deployer-card-alignment-margin: {{ alignment_margin }};"
>
  <div class="deployer-card__inner">
    {%- if image != blank -%}
      <div class="deployer-card__media-item">
        {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
        <deployer-card-media widths="{{ widths }}" class="deployer-card__media" style="--ratio-percent: {{ 1 | divided_by: ratio | times: 100 }}%;">
          {%- capture sizes -%}
                  (min-width: {{ page_width }}px) {{ page_width | minus: 100 | divided_by: 2 }}px,
                  (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
              {%- endcapture -%}
          {{ image | image_url: width: 1500 | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority }}
        </deployer-card-media>
      </div>
    {%- endif -%}

    <div class="deployer-card__content deployer-card__content--{{ card_content_vertical_position }}">
      <div class="deployer-card__information">
        {% if badge != blank %}
          <div class="deployer-card__badges-container">
            <div class="badge">
              <span class="deployer-card__badge-item-text">{{ badge }}</span>
            </div>
          </div>
        {% endif %}

        {%- if title_layout == 'horizontal' -%}
          <div class="deployer-card__title-wrapper">
        {%- endif -%}
        {%- if title != blank -%}
          <h3 class="deployer-card__title">
            {%- if url != blank -%}
              <a
                href="{{ url }}"
                class="deployer-card__link"
              >
            {%- endif -%}
            {{ title | escape }}
            {%- if url != blank -%}
              </a>
            {%- endif -%}
          </h3>
        {%- endif -%}
        {%- if stars > 0 -%}
          <div class="deployer-card__stars">
            {%- for i in (1..stars) -%}
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="currentColor">
                <path d="m233-120 65-281L80-590l288-25 112-265 112 265 288 25-218 189 65 281-247-149-247 149Z"/>
              </svg>
            {%- endfor -%}
          </div>
        {%- endif -%}
        {%- if title_layout == 'horizontal' -%}
          </div>
        {%- endif -%}

        {%- if description != blank -%}
          <div class="deployer-card__description">
            {{ description }}
          </div>
        {%- endif -%}

        {%- if bullet_points != blank -%}
          <div
            class="deployer-card__bullet-points {% if bullet_point_icon != blank %} deployer-card__bullet-points--custom-icon{% endif %}"
            {%- if bullet_point_icon != blank -%}
              style="--deployer-card-bullet-point-icon-url: url('{{ bullet_point_icon | image_url: width: 15, height: 15 }}')"
            {%- endif -%}
          >
            {{ bullet_points }}
          </div>
        {%- endif -%}
      </div>

      {%- if enable_divider -%}
        <hr class="deployer-card__divider">
      {%- endif -%}

      {%- if button_text != blank and button_link != blank -%}
        <div class="deployer-card__button-wrapper">
          <a href="{{ button_link }}" class="deployer-card__button {{ button_style }}{% if button_full_width %} deployer-button--full-width{% endif %}">{{ button_text }}</a>
        </div>
      {%- endif -%}

      {%- if footer_text != blank -%}
        <div class="deployer-card__footer">{{ footer_text }}</div>
      {%- endif -%}
    </div>
  </div>
</deployer-card>
