{{ 'component-image-with-text.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding .page-width {
    position: relative;
    overflow: hidden;
  }

  .section-{{ section.id }}-padding .image-with-text__background-image {
    position: absolute;
    top: {{  section.settings.image_background_position_y }}%;
    left: {{ section.settings.image_background_position_x }}%;
    transform: translate(-{{ section.settings.image_background_position_x }}%, -{{ section.settings.image_background_position_y }}%);
    width: 100%;
    padding: 0 20px;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (max-width: 1300px) {
    .section-{{ section.id }}-padding .image-with-text__background-image {
      width: 130%;
      padding: 0;
    }
  }

  @media screen and (max-width: 1100px) {
    .section-{{ section.id }}-padding .image-with-text__background-image {
      width: 150%;
    }
  }

  @media screen and (max-width: 900px) {
    .section-{{ section.id }}-padding .image-with-text__background-image {
      width: 170%;
    }
  }

  @media screen and (max-width: 750px) {
    .section-{{ section.id }}-padding .image-with-text__background-image {
      width: 500%;
    }
  }

  @media screen and (min-width: 1300px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

{%- liquid
  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
  if section.settings.color_scheme == section.settings.section_color_scheme and section.settings.content_layout == 'no-overlap'
    assign remove_color_classes = true
  endif
-%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.section_color_scheme }}">
  <div class="page-width">
    {%- if section.settings.image_background != blank -%}
      <img src="{{ section.settings.image_background | image_url: width: 1920 }}" alt="{{ section.settings.image_background.alt }}" width="1920" height="auto" class="image-with-text__background-image">
    {%- endif -%}

    <div class="image-with-text image-with-text--{{ section.settings.content_layout }} isolate{% if settings.text_boxes_border_thickness > 0 and settings.text_boxes_border_opacity > 0 and settings.media_border_thickness > 0 and settings.media_border_opacity > 0 %} collapse-borders{% endif %}{% unless section.settings.color_scheme == section.settings.section_color_scheme and settings.media_border_thickness > 0 and settings.text_boxes_shadow_opacity == 0 and settings.text_boxes_border_thickness == 0 or settings.text_boxes_border_opacity == 0 %} collapse-corners{% endunless %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      <div
        class="image-with-text__grid grid{% unless section.settings.content_layout == 'no-overlap' and section.settings.section_color_scheme != section.settings.color_scheme %} grid--gapless{% endunless %} grid--1-col grid--{% if section.settings.desktop_image_width == 'medium' %}2-col-tablet{% else %}3-col-tablet{% endif %}{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}"
        style="--desktop-image-width-custom: {{ section.settings.desktop_image_width_custom }}%;"
      >
        <div class="image-with-text__media-item image-with-text__media-item--{{ section.settings.desktop_image_width }} image-with-text__media-item--{{ section.settings.desktop_content_position }} grid__item">
          <div
            class="image-with-text__media image-with-text__media--{{ section.settings.height }} global-media-settings{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}{% if section.settings.image != blank %} media{% else %} image-with-text__media--placeholder placeholder{% endif %}{% if section.settings.image_behavior != 'none' %} animate--{{ section.settings.image_behavior }}{% endif %}"
            {% if section.settings.height == 'adapt' and section.settings.image != blank %}
              style="padding-bottom: {{ 1 | divided_by: section.settings.image.aspect_ratio | times: 100 }}%;"
            {% endif %}
          >
            {%- if section.settings.image != blank -%}
              {%- if section.settings.image_behavior == 'ambient' or section.settings.image_behavior == 'zoom-in' -%}
                {%- assign widths = '198, 432, 642, 900, 1284, 1800' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 1.6667 }}px,
              (min-width: 750px) calc((100vw - 130px) / 1.667), calc((100vw - 50px) / 1.667)
            {%- endcapture -%}
              {%- else -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
              (min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 2 }}px,
              (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
            {%- endcapture -%}
              {%- endif -%}
              {{ section.settings.image | image_url: width: 1500 | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority }}
            {%- else -%}
              {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
            {%- endif -%}
          </div>
        </div>
        <div class="image-with-text__text-item grid__item">
          <div
            id="ImageWithText--{{ section.id }}"
            class="image-with-text__content image-with-text__content--{{ section.settings.desktop_content_position }} image-with-text__content--desktop-{{ section.settings.desktop_content_alignment }} image-with-text__content--mobile-{{ section.settings.mobile_content_alignment }} image-with-text__content--{{ section.settings.height }} content-container{% unless remove_color_classes %} gradient color-{{ section.settings.color_scheme }}{% else %} background-transparent{% endunless %}"
          >
            {%- for block in section.blocks -%}
              {% case block.type %}
                {%- when 'badge' -%}
                  {%- if block.settings.text != blank -%}
                    <div class="image-with-text__badge color-{{ block.settings.color_scheme }}" {{ block.shopify_attributes }}>
                      {%- if block.settings.icon != blank -%}
                        <img
                          src="{{ block.settings.icon | image_url: width: 100, height: auto }}"
                          alt="{{ block.settings.text }}"
                          width="20"
                          height="auto"
                        >
                      {%- endif -%}
                      <span>{{ block.settings.text }}</span>
                    </div>
                  {%- endif -%}
                {%- when 'heading' -%}
                  <h2
                    class="image-with-text__heading inline-richtext {{ block.settings.heading_size }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.heading }}
                  </h2>
                {%- when 'caption' -%}
                  <p
                    class="image-with-text__text image-with-text__text--caption {{ block.settings.text_style }} {{ block.settings.text_style }}--{{ block.settings.text_size }} {{ block.settings.text_style }}"
                    {{ block.shopify_attributes }}
                  >
                    {{ block.settings.caption | escape }}
                  </p>
                {%- when 'text' -%}
                  <div class="image-with-text__text rte {{ block.settings.text_style }}" {{ block.shopify_attributes }}>
                    {{ block.settings.text }}
                  </div>
                {%- when 'button' -%}
                  {%- if block.settings.button_label != blank -%}
                    <a
                      {% if block.settings.button_link == blank %}
                        role="link" aria-disabled="true"
                      {% else %}
                        href="{{ block.settings.button_link }}"
                      {% endif %}
                      class="button{% if block.settings.button_style_secondary %} button--secondary{% else %} button--primary{% endif %}"
                      {{ block.shopify_attributes }}
                    >
                      {{ block.settings.button_label | escape }}
                    </a>
                  {%- endif -%}
                {%- when 'multicolumn' -%}
                  <div class="image-with-text__multicolumn multicolumn" {{ block.shopify_attributes }}>
                    {{ 'section-multicolumn.css' | asset_url | stylesheet_tag }}
                    <slider-component class="slider-mobile-gutter">
                      <ul
                        class="multicolumn-list contains-content-container grid grid--{{ block.settings.columns_mobile }}-col-tablet-down grid--{{ block.settings.columns_desktop }}-col-desktop"
                        id="Slider-{{ section.id }}"
                        role="list"
                      >
                        {%- liquid
                          assign highest_ratio = 0
                          for i in (1..9)
                            assign image_key = 'image_' | append: i
                            assign image = block.settings[image_key]

                            if image.aspect_ratio > highest_ratio
                              assign highest_ratio = image.aspect_ratio
                            endif
                          endfor
                        -%}
                        {% for i in (1..9) %}
                          {% assign image_key = 'image_' | append: i %}
                          {% assign title_key = 'title_' | append: i %}
                          {% assign text_key = 'text_' | append: i %}
                          {% assign image = block.settings[image_key] %}
                          {% assign title = block.settings[title_key] %}
                          {% assign text = block.settings[text_key] %}

                          {% if image != blank or title != blank or text != blank %}
                            <li
                              id="Slide-{{ section.id }}-{{ i }}"
                              class="multicolumn-list__item grid__item {{ block.settings.column_alignment }}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                              {% if settings.animations_reveal_on_scroll %}
                                data-cascade
                                style="--animation-order: {{ i }};"
                              {% endif %}
                            >
                              <div class="multicolumn-card multicolumn-card--{{ block.settings.image_position | default: 'top' }} content-container">
                                {%- if image != blank -%}
                                  {% if block.settings.image_ratio == 'adapt' or block.settings.image_ratio == 'circle' %}
                                    {% assign spaced_image = true %}
                                  {% endif %}
                                  <div
                                    class="multicolumn-card__image-wrapper multicolumn-card__image-wrapper--{{ block.settings.image_width }}-width{% if block.settings.image_width != 'full' or spaced_image %} multicolumn-card-spacing{% endif %}"
                                    style="--image-width-custom: {{ block.settings.image_width_custom }}px;"
                                  >
                                    <div
                                      class="media media--transparent media--{{ block.settings.image_ratio }}"
                                      {% if block.settings.image_ratio == 'adapt' %}
                                        style="padding-bottom: {{ 1 | divided_by: highest_ratio | times: 100 }}%;"
                                      {% endif %}
                                    >
                                      {%- liquid
                                        assign number_of_columns = block.settings.columns_desktop
                                        assign number_of_columns_mobile = block.settings.columns_mobile
                                        assign grid_space_desktop = number_of_columns | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                                        assign grid_space_tablet = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | plus: 100 | append: 'px'
                                        assign grid_space_mobile = number_of_columns_mobile | minus: 1 | times: settings.spacing_grid_horizontal | divided_by: 2 | plus: 30 | append: 'px'
                                        if block.settings.image_width == 'half'
                                          assign image_width = 0.5
                                        elsif block.settings.image_width == 'third'
                                          assign image_width = 0.33
                                        else
                                          assign image_width = 1
                                        endif
                                      -%}
                                      {% capture sizes %}
                                        (min-width: {{ settings.page_width }}px) calc(({{ settings.page_width }}px - {{ grid_space_desktop }}) * {{ image_width }} /  {{ number_of_columns }}),
                                        (min-width: 990px) calc((100vw - {{ grid_space_desktop }}) * {{ image_width }} / {{ number_of_columns }}),
                                        (min-width: 750px) calc((100vw - {{ grid_space_tablet }}) * {{ image_width }} / {{ number_of_columns_mobile }}),
                                        calc((100vw - {{ grid_space_mobile }}) * {{ image_width }} / {{ number_of_columns_mobile }})
                                      {% endcapture %}
                                      {{ image | image_url: width: 3200 | image_tag: widths: '50, 75, 100, 150, 200, 300, 400, 500, 750, 1000, 1250, 1500, 1750, 2000, 2250, 2500, 2750, 3000, 3200', sizes: sizes, class: 'multicolumn-card__image' }}
                                    </div>
                                  </div>
                                {%- endif -%}
                                <div class="multicolumn-card__info multicolumn-card__info--{{ block.settings.image_width | default: 'full' }}-width">
                                  {%- if title != blank -%}
                                    <h3 class="inline-richtext">{{ title }}</h3>
                                  {%- endif -%}
                                  {%- if text != blank -%}
                                    <div class="rte">{{ text }}</div>
                                  {%- endif -%}
                                </div>
                              </div>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </slider-component>
                  </div>
              {%- endcase -%}
            {%- endfor -%}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.image-with-text.name",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.image-with-text.settings.image.label"
    },
    {
      "type": "select",
      "id": "height",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.image-with-text.settings.height.options__1.label"
        },
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.height.options__2.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.height.options__3.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.height.options__4.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.image-with-text.settings.height.label"
    },
    {
      "type": "select",
      "id": "desktop_image_width",
      "options": [
        {
          "value": "small",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__1.label"
        },
        {
          "value": "medium",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__2.label"
        },
        {
          "value": "large",
          "label": "t:sections.image-with-text.settings.desktop_image_width.options__3.label"
        },
        {
          "value": "custom",
          "label": "Personnalisée"
        }
      ],
      "default": "medium",
      "label": "t:sections.image-with-text.settings.desktop_image_width.label",
      "info": "t:sections.image-with-text.settings.desktop_image_width.info"
    },
    {
      "type": "range",
      "id": "desktop_image_width_custom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Largeur personnalisée de l'image (%)",
      "default": 40
    },
    {
      "type": "select",
      "id": "layout",
      "options": [
        {
          "value": "image_first",
          "label": "t:sections.image-with-text.settings.layout.options__1.label"
        },
        {
          "value": "text_first",
          "label": "t:sections.image-with-text.settings.layout.options__2.label"
        }
      ],
      "default": "image_first",
      "label": "t:sections.image-with-text.settings.layout.label",
      "info": "t:sections.image-with-text.settings.layout.info"
    },
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "top",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "middle",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "bottom",
          "label": "t:sections.image-with-text.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "top",
      "label": "t:sections.image-with-text.settings.desktop_content_position.label"
    },
    {
      "type": "select",
      "id": "desktop_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.desktop_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.desktop_content_alignment.label"
    },
    {
      "type": "select",
      "id": "content_layout",
      "options": [
        {
          "value": "no-overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__1.label"
        },
        {
          "value": "overlap",
          "label": "t:sections.image-with-text.settings.content_layout.options__2.label"
        }
      ],
      "default": "no-overlap",
      "label": "t:sections.image-with-text.settings.content_layout.label"
    },
    {
      "type": "color_scheme",
      "id": "section_color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.multirow.settings.container_color_scheme.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.all.animation.content"
    },
    {
      "type": "select",
      "id": "image_behavior",
      "options": [
        {
          "value": "none",
          "label": "t:sections.all.animation.image_behavior.options__1.label"
        },
        {
          "value": "ambient",
          "label": "t:sections.all.animation.image_behavior.options__2.label"
        },
        {
          "value": "zoom-in",
          "label": "t:sections.all.animation.image_behavior.options__4.label"
        }
      ],
      "default": "none",
      "label": "t:sections.all.animation.image_behavior.label"
    },
    {
      "type": "header",
      "content": "Mobile layout"
    },
    {
      "type": "select",
      "id": "mobile_content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.image-with-text.settings.mobile_content_alignment.options__3.label"
        }
      ],
      "default": "left",
      "label": "t:sections.image-with-text.settings.mobile_content_alignment.label"
    },
    {
      "type": "header",
      "content": "Forme en fond"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "image_picker",
      "id": "image_background",
      "label": "Image en fond"
    },
    {
      "type": "range",
      "id": "image_background_position_x",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Position horizontale",
      "default": 50
    },
    {
      "type": "range",
      "id": "image_background_position_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Position verticale",
      "default": 50
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "badge",
      "name": "Badge",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "text",
          "default": "Badge",
          "label": "Texte du badge"
        },
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icône du badge"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.multirow.settings.container_color_scheme.label",
          "default": "scheme-1"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.image-with-text.blocks.heading.settings.heading.default",
          "label": "t:sections.image-with-text.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "hxl",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "hxxl",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "h1",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.image-with-text.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.image-with-text.blocks.caption.settings.text.default",
          "label": "t:sections.image-with-text.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__1.label"
            },
            {
              "value": "caption-with-letter-spacing",
              "label": "t:sections.image-with-text.blocks.caption.settings.text_style.options__2.label"
            }
          ],
          "default": "caption-with-letter-spacing",
          "label": "t:sections.image-with-text.blocks.caption.settings.text_style.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "small",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "medium",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "large",
              "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "medium",
          "label": "t:sections.image-with-text.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "default": "t:sections.image-with-text.blocks.text.settings.text.default",
          "label": "t:sections.image-with-text.blocks.text.settings.text.label"
        },
        {
          "type": "select",
          "id": "text_style",
          "options": [
            {
              "value": "body",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__1.label"
            },
            {
              "value": "subtitle",
              "label": "t:sections.image-with-text.blocks.text.settings.text_style.options__2.label"
            }
          ],
          "default": "body",
          "label": "t:sections.image-with-text.blocks.text.settings.text_style.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.image-with-text.blocks.button.settings.button_label.default",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "info": "t:sections.image-with-text.blocks.button.settings.button_label.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": false,
          "label": "t:sections.image-with-text.blocks.button.settings.outline_button.label"
        }
      ]
    },
    {
      "type": "multicolumn",
      "name": "Multicolonne",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "image_width",
          "options": [
            { "value": "sixth", "label": "1/6ème" },
            { "value": "fifth", "label": "1/5ème" },
            { "value": "fourth", "label": "1/4" },
            {
              "value": "third",
              "label": "t:sections.multicolumn.settings.image_width.options__1.label"
            },
            {
              "value": "half",
              "label": "t:sections.multicolumn.settings.image_width.options__2.label"
            },
            {
              "value": "full",
              "label": "t:sections.multicolumn.settings.image_width.options__3.label"
            },
            {
              "value": "custom",
              "label": "Personnalisée"
            }
          ],
          "default": "full",
          "label": "t:sections.multicolumn.settings.image_width.label"
        },
        {
          "type": "number",
          "id": "image_width_custom",
          "default": 30,
          "label": "Largeur personnalisée de l'image (px)"
        },
        {
          "type": "select",
          "id": "image_position",
          "options": [
            {
              "value": "left",
              "label": "Sur la gauche"
            },
            {
              "value": "top",
              "label": "En haut"
            }
          ],
          "default": "top",
          "label": "Position de l'image"
        },
        {
          "type": "select",
          "id": "image_ratio",
          "options": [
            {
              "value": "adapt",
              "label": "t:sections.multicolumn.settings.image_ratio.options__1.label"
            },
            {
              "value": "portrait",
              "label": "t:sections.multicolumn.settings.image_ratio.options__2.label"
            },
            {
              "value": "square",
              "label": "t:sections.multicolumn.settings.image_ratio.options__3.label"
            },
            {
              "value": "circle",
              "label": "t:sections.multicolumn.settings.image_ratio.options__4.label"
            }
          ],
          "default": "adapt",
          "label": "t:sections.multicolumn.settings.image_ratio.label"
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 3,
          "label": "t:sections.multicolumn.settings.columns_desktop.label"
        },
        {
          "type": "select",
          "id": "columns_mobile",
          "options": [
            {
              "value": "1",
              "label": "t:sections.multicolumn.settings.columns_mobile.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.multicolumn.settings.columns_mobile.options__2.label"
            }
          ],
          "default": "2",
          "label": "t:sections.multicolumn.settings.columns_mobile.label"
        },
        {
          "type": "select",
          "id": "column_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.multicolumn.settings.column_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.multicolumn.settings.column_alignment.options__2.label"
            }
          ],
          "default": "left",
          "label": "t:sections.multicolumn.settings.column_alignment.label"
        },
        {
          "type": "image_picker",
          "id": "image_1",
          "label": "Image 1"
        },
        {
          "type": "inline_richtext",
          "id": "title_1",
          "default": "Une équipe d’expert",
          "label": "Titre 1"
        },
        {
          "type": "richtext",
          "id": "text_1",
          "default": "<p>Avec des experts en nutrition animale, nous créons des formules scientifiques.</p>",
          "label": "Texte 1"
        },
        {
          "type": "image_picker",
          "id": "image_2",
          "label": "Image 2"
        },
        {
          "type": "inline_richtext",
          "id": "title_2",
          "default": "Une efficacité prouvée",
          "label": "Titre 2"
        },
        {
          "type": "richtext",
          "id": "text_2",
          "default": "<p>Nos ingrédients sont sélectionnés d’après des études scientifiques.</p>",
          "label": "Texte 2"
        },
        {
          "type": "image_picker",
          "id": "image_3",
          "label": "Image 3"
        },
        {
          "type": "inline_richtext",
          "id": "title_3",
          "default": "Des dosages optimisés",
          "label": "Titre 3"
        },
        {
          "type": "richtext",
          "id": "text_3",
          "default": "<p>Chaque ingrédient est justement dosé pour assurer son efficacité.</p>",
          "label": "Texte 3"
        },
        {
          "type": "image_picker",
          "id": "image_4",
          "label": "Image 4"
        },
        {
          "type": "inline_richtext",
          "id": "title_4",
          "default": "Transparence garantie",
          "label": "Titre 4"
        },
        {
          "type": "richtext",
          "id": "text_4",
          "default": "<p>Nous garantissons 100% de transparence sur nos produits.</p>",
          "label": "Texte 4"
        },
        {
          "type": "image_picker",
          "id": "image_5",
          "label": "Image 5"
        },
        {
          "type": "inline_richtext",
          "id": "title_5",
          "default": "Sans ingrédient controversé",
          "label": "Titre 5"
        },
        {
          "type": "richtext",
          "id": "text_5",
          "default": "<p>Des ingrédients sains, clairs et bons pour votre animal.</p>",
          "label": "Texte 5"
        },
        {
          "type": "image_picker",
          "id": "image_6",
          "label": "Image 6"
        },
        {
          "type": "inline_richtext",
          "id": "title_6",
          "default": "Un plaisir pour l’animal",
          "label": "Titre 6"
        },
        {
          "type": "richtext",
          "id": "text_6",
          "default": "<p>Sous forme de bouchées savoureuses au poulet pour plus de plaisir.</p>",
          "label": "Texte 6"
        },
        {
          "type": "image_picker",
          "id": "image_7",
          "label": "Image 7"
        },
        {
          "type": "inline_richtext",
          "id": "title_7",
          "label": "Titre 7"
        },
        {
          "type": "richtext",
          "id": "text_7",
          "label": "Texte 7"
        },
        {
          "type": "image_picker",
          "id": "image_8",
          "label": "Image 8"
        },
        {
          "type": "inline_richtext",
          "id": "title_8",
          "label": "Titre 8"
        },
        {
          "type": "richtext",
          "id": "text_8",
          "label": "Texte 8"
        },
        {
          "type": "image_picker",
          "id": "image_9",
          "label": "Image 9"
        },
        {
          "type": "inline_richtext",
          "id": "title_9",
          "label": "Titre 9"
        },
        {
          "type": "richtext",
          "id": "text_9",
          "label": "Texte 9"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.image-with-text.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
