{% assign card_blocks = section.blocks | where: 'type', 'card' %}

{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.image_shape == 'blob' %}
  {{ 'mask-blobs.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- unless section.settings.quick_add == 'none' -%}
  {{ 'quick-add.css' | asset_url | stylesheet_tag }}
{%- endunless -%}

{%- if card_blocks.size > 0 -%}
  {{ 'component-deployer-card.css' | asset_url | stylesheet_tag }}
{%- endif -%}

{%- if section.settings.quick_add == 'standard' -%}
  <script src="{{ 'quick-add.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- if section.settings.quick_add == 'bulk' -%}
  <script src="{{ 'quick-add-bulk.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quantity-popover.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'price-per-item.js' | asset_url }}" defer="defer"></script>
  <script src="{{ 'quick-order-list.js' | asset_url }}" defer="defer"></script>
{%- endif -%}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<div class="section-{{ section.id }}-padding gradient color-{{ section.settings.color_scheme }}">
  {%- paginate collection.products by section.settings.products_per_page -%}
    {% comment %} Sort is the first tabbable element when filter type is vertical {% endcomment %}
    {%- if section.settings.enable_sorting and section.settings.filter_type == 'vertical' and section.settings.vertical_filter_type_sort_position == 'grid' -%}
      <facet-filters-form class="facets facets-vertical-sort page-width small-hide">
        <form class="facets-vertical-form" id="FacetSortForm">
          <div class="facet-filters sorting caption">
            <div class="facet-filters__field">
              <h2 class="facet-filters__label caption-large text-body">
                <label for="SortBy">{{ 'products.facets.sort_by_label' | t }}</label>
              </h2>
              <div class="select">
                {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                <select
                  name="sort_by"
                  class="facet-filters__sort select__select caption-large"
                  id="SortBy"
                  aria-describedby="a11y-refresh-page-message"
                >
                  {%- for option in collection.sort_options -%}
                    {%- unless option.value contains 'title' or option.value contains 'created' -%}
                      <option
                        value="{{ option.value | escape }}"
                        {% if option.value == sort_by %}
                          selected="selected"
                        {% endif %}
                      >
                        {{ option.name | escape }}
                      </option>
                    {%- endunless -%}
                  {%- endfor -%}
                </select>
                <span class="svg-wrapper">
                  {{- 'icon-caret.svg' | inline_asset_content -}}
                </span>
              </div>
            </div>
          </div>

          <div class="product-count-vertical light" role="status">
            <h2 class="product-count__text text-body">
              <span id="ProductCountDesktop">
                {%- if collection.results_count -%}
                  {{ 'templates.search.results_with_count' | t: terms: collection.terms, count: collection.results_count }}
                {%- elsif collection.products_count == collection.all_products_count -%}
                  {{ 'products.facets.product_count_simple' | t: count: collection.products_count }}
                {%- else -%}
                  {{ 'products.facets.product_count' | t: product_count: collection.products_count, count: collection.all_products_count }}
                {%- endif -%}
              </span>
            </h2>
            {%- render 'loading-spinner' -%}
          </div>
        </form>
      </facet-filters-form>
    {%- endif -%}

    <div class="{% if section.settings.filter_type == 'vertical' %} facets-vertical page-width{% endif %}">
      {{ 'component-facets.css' | asset_url | stylesheet_tag }}
      <script src="{{ 'facets.js' | asset_url }}" defer="defer"></script>
      {%- if section.settings.enable_filtering or section.settings.enable_sorting -%}
        <aside
          aria-labelledby="verticalTitle"
          class="facets-wrapper{% unless section.settings.enable_filtering %} facets-wrapper--no-filters{% endunless %}{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          id="main-collection-filters"
          data-id="{{ section.id }}"
        >
          {% render 'facets', results: collection, enable_filtering: section.settings.enable_filtering, enable_sorting: section.settings.enable_sorting, filter_type: section.settings.filter_type, paginate: paginate %}
        </aside>
      {%- endif -%}

      <div
        class="product-grid-container{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
        id="ProductGridContainer"
        {% if settings.animations_reveal_on_scroll %}
          data-cascade
        {% endif %}
      >
        {%- if collection.products.size == 0 -%}
          <div class="collection collection--empty page-width" id="product-grid" data-id="{{ section.id }}">
            <div class="loading-overlay gradient"></div>
            <div class="title-wrapper center">
              <h2 class="title title--primary">
                {{ 'sections.collection_template.empty' | t -}}
                <br>
                {{ 'sections.collection_template.use_fewer_filters_html' | t: link: collection.url, class: 'underlined-link link' }}
              </h2>
            </div>
          </div>
        {%- else -%}
          <div
            class="collection{% if section.settings.filter_type != 'vertical' %} page-width{% endif %}"
          >
            <div class="loading-overlay gradient"></div>
            <ul
              id="product-grid"
              data-id="{{ section.id }}"
              class="
                grid product-grid grid--{{ section.settings.columns_mobile }}-col-tablet-down
                grid--{{ section.settings.columns_desktop }}-col-desktop
                {% if section.settings.quick_add == 'bulk' %} collection-quick-add-bulk{% endif %}
              "
            >
              {% assign skip_card_product_styles = false %}
              {%- for product in collection.products -%}
                {% assign lazy_load = false %}
                {%- if forloop.index > 2 -%}
                  {%- assign lazy_load = true -%}
                {%- endif -%}
                {%- for block in card_blocks -%}
                  {% assign block_position_in_grid = block.settings.position_in_grid %}
                  {%- if block_position_in_grid <= collection.products_count and block_position_in_grid == forloop.parentloop.index -%}
                    {%- render 'collection-grid-item-custom', block: block, forloop: forloop.parentloop -%}
                  {%- endif -%}
                {%- endfor -%}
                <li
                  class="grid__item{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
                  {% if settings.animations_reveal_on_scroll %}
                    data-cascade
                    style="--animation-order: {{ forloop.index }};"
                  {% endif %}
                >
                  {% render 'card-product',
                    card_product: product,
                    media_aspect_ratio: section.settings.image_ratio,
                    image_shape: section.settings.image_shape,
                    show_secondary_image: section.settings.show_secondary_image,
                    show_vendor: section.settings.show_vendor,
                    show_rating: section.settings.show_rating,
                    lazy_load: lazy_load,
                    skip_styles: skip_card_product_styles,
                    quick_add: section.settings.quick_add,
                    section_id: section.id,
                    show_product_description: section.settings.show_product_description
                  %}
                </li>
                {%- for block in card_blocks -%}
                  {% assign block_position_in_grid = block.settings.position_in_grid %}
                  {%- if block_position_in_grid > collection.products_count and forloop.parentloop.index == collection.products_count -%}
                    {%- render 'collection-grid-item-custom', block: block, forloop: forloop.parentloop, is_last: true -%}
                  {%- endif -%}
                {%- endfor -%}
              {%- endfor -%}
            </ul>

            {%- if paginate.pages > 1 -%}
              {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
          </div>
        {%- endif -%}
      </div>
    </div>
  {%- endpaginate -%}
  {% if section.settings.image_shape == 'arch' %}
    {{ 'mask-arch.svg' | inline_asset_content }}
  {%- endif -%}
</div>

{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 36,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_product_description",
      "default": true,
      "label": "Afficher les descriptions des produits"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "default": "none",
      "label": "t:sections.main-collection-product-grid.settings.quick_add.label",
      "info": "t:sections.main-collection-product-grid.settings.quick_add.info",
      "options": [
        {
          "value": "none",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_1"
        },
        {
          "value": "standard",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_2"
        },
        {
          "value": "bulk",
          "label": "t:sections.main-collection-product-grid.settings.quick_add.options.option_3"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "select",
      "id": "filter_type",
      "options": [
        {
          "value": "horizontal",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__1.label"
        },
        {
          "value": "vertical",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__2.label"
        },
        {
          "value": "drawer",
          "label": "t:sections.main-collection-product-grid.settings.filter_type.options__3.label"
        }
      ],
      "default": "horizontal",
      "label": "t:sections.main-collection-product-grid.settings.filter_type.label",
      "info": "t:sections.main-collection-product-grid.settings.filter_type.info"
    },
    {
      "type": "select",
      "id": "vertical_filter_type_sort_position",
      "options": [
        {
          "value": "grid",
          "label": "Grille"
        },
        {
          "value": "sidebar",
          "label": "Barre latérale"
        }
      ],
      "default": "sidebar",
      "label": "Position du tri en filtre vertical",
      "info": "Utilisé quand le type de filtre est vertical."
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header_mobile.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "default": "2",
      "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
      "options": [
        {
          "value": "1",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
        }
      ]
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Carte",
      "settings": [
        {
          "type": "header",
          "content": "Visibilité"
        },
        {
          "type": "checkbox",
          "id": "hide_mobile",
          "label": "Cacher sur mobile",
          "default": false
        },
        {
          "type": "checkbox",
          "id": "hide_desktop",
          "label": "Cacher sur bureau",
          "default": false
        },
        {
          "type": "header",
          "content": "Contenu"
        },
        {
          "type": "checkbox",
          "id": "highlight_card",
          "label": "Mettre la carte en évidence",
          "default": false
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "badge",
          "label": "Badge"
        },
        {
          "type": "range",
          "id": "stars",
          "label": "Nombre d'étoiles",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 0
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Titre",
          "default": "Titre de la carte"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Description de la carte</p>"
        },
        {
          "type": "richtext",
          "id": "bullet_points",
          "label": "Liste à puces"
        },
        {
          "type": "image_picker",
          "id": "bullet_point_icon",
          "label": "Icône de puce"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Texte du bouton",
          "default": "Texte du bouton"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Lien du bouton"
        },
        {
          "type": "inline_richtext",
          "id": "footer_text",
          "label": "Texte en bas de carte"
        },
        {
          "type": "header",
          "content": "Mise en page"
        },
        {
          "type": "number",
          "id": "position_in_grid",
          "label": "Position dans la grille",
          "default": 4
        },
        {
          "type": "select",
          "id": "columns_mobile",
          "default": "2",
          "label": "t:sections.main-collection-product-grid.settings.columns_mobile.label",
          "options": [
            {
              "value": "1",
              "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__1.label"
            },
            {
              "value": "2",
              "label": "t:sections.main-collection-product-grid.settings.columns_mobile.options__2.label"
            }
          ]
        },
        {
          "type": "range",
          "id": "columns_desktop",
          "min": 1,
          "max": 6,
          "step": 1,
          "default": 2,
          "label": "t:sections.main-collection-product-grid.settings.columns_desktop.label"
        },
        {
          "type": "select",
          "id": "card_layout",
          "label": "Disposition des cartes",
          "options": [
            {
              "value": "vertical",
              "label": "Cartes verticales"
            },
            {
              "value": "horizontal",
              "label": "Cartes horizontales"
            },
            {
              "value": "stacked",
              "label": "Cartes superposées"
            }
          ],
          "default": "stacked"
        },
        {
          "type": "select",
          "id": "card_media_aspect_ratio",
          "label": "Rapport d'image des cartes",
          "options": [
            {
              "value": "adapt",
              "label": "Adapter à l'image"
            },
            {
              "value": "square",
              "label": "Carré"
            },
            {
              "value": "portrait",
              "label": "Portrait"
            },
            {
              "value": "landscape",
              "label": "Paysage"
            }
          ],
          "default": "square"
        },
        {
          "type": "select",
          "id": "card_content_vertical_position",
          "label": "Position verticale du contenu",
          "info": "Si la disposition des cartes est \"horizontale\" ou \"superposée\", cette option détermine la position verticale du contenu.",
          "options": [
            {
              "value": "top",
              "label": "Haut"
            },
            {
              "value": "middle",
              "label": "Milieu"
            },
            {
              "value": "bottom",
              "label": "Bas"
            }
          ],
          "default": "bottom"
        },
        {
          "type": "select",
          "id": "card_title_layout",
          "label": "Disposition du conteneur de titre",
          "options": [
            {
              "value": "vertical",
              "label": "Titre vertical"
            },
            {
              "value": "horizontal",
              "label": "Titre horizontal"
            }
          ],
          "default": "vertical"
        },
        {
          "type": "checkbox",
          "id": "enable_divider",
          "label": "Afficher le séparateur",
          "default": false
        },
        {
          "type": "select",
          "id": "card_button_style",
          "label": "Style du bouton",
          "options": [
            {
              "value": "deployer-button",
              "label": "Bouton"
            },
            {
              "value": "deployer-button deployer-button--secondary",
              "label": "Bouton secondaire"
            },
            {
              "value": "deployer-button deployer-button--tertiary",
              "label": "Bouton tertiaire"
            }
          ],
          "default": "deployer-button"
        },
        {
          "type": "checkbox",
          "id": "card_button_full_width",
          "label": "Rendre le bouton en pleine largeur",
          "default": true
        },
        {
          "type": "header",
          "content": "Style"
        },
        {
          "type": "text_alignment",
          "id": "card_alignment",
          "label": "Alignement d'une carte",
          "default": "left"
        },
        {
          "type": "color",
          "id": "card_background_color",
          "label": "Couleur de fond d'une carte",
          "default": "#E2E9F5"
        },
        {
          "type": "color",
          "id": "card_text_color",
          "label": "Couleur de texte d'une carte",
          "default": "#FFFFFF"
        },
        {
          "type": "color",
          "id": "card_highlighted_background_color",
          "label": "Couleur de fond d'une carte mise en évidence",
          "default": "#95B1EE"
        },
        {
          "type": "color",
          "id": "card_highlighted_border_color",
          "label": "Couleur de bordure d'une carte mise en évidence",
          "default": "#364C84"
        },
        {
          "type": "color",
          "id": "card_badge_background_color",
          "label": "Couleur de fond d'un badge",
          "default": "#E7F1A8"
        },
        {
          "type": "color",
          "id": "card_badge_color",
          "label": "Couleur de texte d'un badge",
          "default": "#364C84"
        },
        {
          "type": "color",
          "id": "card_star_color",
          "label": "Couleur des étoiles",
          "default": "#F7BE0B"
        }
      ]
    }
  ]
}
{% endschema %}
