{{ 'section-reviews.css' | asset_url | stylesheet_tag }}
{{ 'component-deployer-grid.css' | asset_url | stylesheet_tag }}
{{ 'component-deployer-slider.css' | asset_url | stylesheet_tag }}
{{ 'component-deployer-card.css' | asset_url | stylesheet_tag }}
{{ 'component-deployer-card-review.css' | asset_url | stylesheet_tag }}
<script src="{{ 'deployer-slider.js' | asset_url }}" defer></script>

{%- style -%}
  #section-{{ section.id }} {
    --page-width: {{ section.settings.page_width | divided_by: 10 }}rem;
    --color-background: {{ section.settings.section_background_color.red }},{{ section.settings.section_background_color.green }},{{ section.settings.section_background_color.blue }};
    --color-foreground: {{ section.settings.section_text_color.red }},{{ section.settings.section_text_color.green }},{{ section.settings.section_text_color.blue }};

    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    text-align: {{ section.settings.alignment_mobile }};
  }

  #shopify-section-{{ section.id }} .deployer-card {
    --color-background: {{ section.settings.card_background_color.red }},{{ section.settings.card_background_color.green }},{{ section.settings.card_background_color.blue }};
    --color-foreground: {{ section.settings.card_text_color.red }},{{ section.settings.card_text_color.green }},{{ section.settings.card_text_color.blue }};
    --deployer-card-star-color: {{ section.settings.card_star_color.red }},{{ section.settings.card_star_color.green }},{{ section.settings.card_star_color.blue }};
  }

  @media screen and (min-width: 750px) {
    #section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      text-align: {{ section.settings.alignment_desktop }};
    }
  }
{%- endstyle -%}

{%- liquid
  assign page_width = section.settings.page_width | default: settings.page_width | default: 1200

  assign section_title = section.settings.title
  assign section_description = section.settings.description
  assign section_button_text = section.settings.button_text
  assign section_button_link = section.settings.button_link
  assign section_button_style = section.settings.button_style | default: 'deployer-button'

  assign section_blocks = section.blocks
-%}

<section id="section-{{ section.id }}" class="section reviews">
  <div class="section__inner section__page-width">
    {%- if section_title != blank or section_description != blank -%}
      <div class="section__header reviews__header">
        {% if section_title != blank %}
          <h2 class="section__title h1">{{ section_title }}</h2>
        {% endif %}
        {% if section_description != blank %}
          <div class="section__description">{{ section_description }}</div>
        {% endif %}
      </div>
    {%- endif -%}

    <div class="section__content reviews__content">
      {%- render 'reviews-slider', id: section.id, page_width: page_width -%}
    </div>

    {%- if section_button_text != blank and section_button_link != blank -%}
      <div class="section__footer reviews__footer">
        <a href="{{ section_button_link }}" class="{{ section_button_style }}">{{ section_button_text }}</a>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Avis",
  "settings": [
    {
      "type": "header",
      "content": "En-tête de la section"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Titre",
      "default": "Vos compagnons vous remercient !"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description"
    },
    {
      "type": "header",
      "content": "Contenu de la section"
    },
    {
      "type": "header",
      "content": "Grid"
    },
    {
      "type": "checkbox",
      "id": "remove_grid_spaces",
      "label": "Supprimer les espaces entre les éléments",
      "info": "Les espaces entre les éléments seront supprimés automatiquement si le nombre de colonnes est égal à 1 sur une taille d'écran spécifique.",
      "default": false
    },
    {
      "type": "header",
      "content": "Carrousel"
    },
    {
      "type": "checkbox",
      "id": "enable_slider_mobile",
      "label": "Activer le balayage sur mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_slider_desktop",
      "label": "Activer le balayage sur bureau",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_slider_full_width_mobile",
      "label": "Activer la pleine largeur sur mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_slider_full_width_desktop",
      "label": "Activer la pleine largeur sur bureau",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_slider_left_margin_mobile",
      "label": "Activer la marge gauche si le slider est en pleine largeur sur mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_slider_left_margin_desktop",
      "label": "Activer la marge gauche si le slider est en pleine largeur sur bureau",
      "default": true
    },
    {
      "type": "range",
      "id": "slider_columns_mobile",
      "min": 1,
      "max": 10,
      "step": 0.1,
      "label": "Nombre de colonnes sur mobile",
      "default": 1
    },
    {
      "type": "range",
      "id": "slider_columns_desktop",
      "min": 1,
      "max": 10,
      "step": 0.1,
      "label": "Nombre de colonnes sur bureau",
      "default": 3
    },
    {
      "type": "range",
      "id": "slider_step_mobile",
      "min": 1,
      "max": 10,
      "step": 0.1,
      "label": "Nombre d'éléments qui défilent en même temps sur mobile",
      "default": 1
    },
    {
      "type": "range",
      "id": "slider_step_desktop",
      "min": 1,
      "max": 10,
      "step": 0.1,
      "label": "Nombre d'éléments qui défilent en même temps sur bureau",
      "default": 1
    },
    {
      "type": "checkbox",
      "id": "enable_slider_drag_mobile",
      "label": "Activer le glissement sur mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_slider_free_scroll_mobile",
      "label": "Activer le défilement libre sur mobile",
      "info": "Si le glissement sur mobile est activé, alors le glissement ne s'arrêtera pas au début de l'élément.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_slider_drag_desktop",
      "label": "Activer le glissement sur bureau",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_slider_free_scroll_desktop",
      "label": "Activer le défilement libre sur bureau",
      "info": "Si le glissement sur bureau est activé, alors le glissement ne s'arrêtera pas au début de l'élément.",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_slider_loop",
      "label": "Activer le défilement en boucle",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_slider_autoplay",
      "label": "Activer le défilement automatique",
      "default": true
    },
    {
      "type": "range",
      "id": "slider_autoplay_speed",
      "min": 1,
      "max": 30,
      "step": 1,
      "unit": "s",
      "label": "Vitesse du défilement automatique",
      "default": 5
    },
    {
      "type": "checkbox",
      "id": "enable_slider_autoplay_button",
      "label": "Activer le bouton du défilement automatique",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_slider_scrollbar",
      "label": "Activer la barre de défilement",
      "default": false
    },
    {
      "type": "select",
      "id": "slider_navigation_mobile",
      "label": "Navigation sur mobile",
      "options": [
        {
          "value": "buttons_arrow",
          "label": "Boutons avec flèche"
        },
        {
          "value": "buttons_text",
          "label": "Boutons avec texte"
        },
        {
          "value": "buttons_arrow_text",
          "label": "Boutons avec flèche et texte"
        },
        {
          "value": "links_dots",
          "label": "Liens avec points"
        },
        {
          "value": "links_numbers",
          "label": "Liens avec nombres"
        },
        {
          "value": "none",
          "label": "Aucune"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "slider_navigation_desktop",
      "label": "Navigation sur bureau",
      "info": "Si vous choisissez le même type de navigation sur mobile et bureau, la navigation sur bureau sera automatiquement remplacée par la même navigation que sur mobile.",
      "options": [
        {
          "value": "buttons_arrow",
          "label": "Boutons avec flèche"
        },
        {
          "value": "buttons_text",
          "label": "Boutons avec texte"
        },
        {
          "value": "buttons_arrow_text",
          "label": "Boutons avec flèche et texte"
        },
        {
          "value": "links_dots",
          "label": "Liens avec points"
        },
        {
          "value": "links_numbers",
          "label": "Liens avec nombres"
        },
        {
          "value": "none",
          "label": "Aucune"
        }
      ],
      "default": "none"
    },
    {
      "type": "select",
      "id": "slider_button_style",
      "label": "Style du bouton de navigation",
      "options": [
        {
          "value": "deployer-button",
          "label": "Bouton"
        },
        {
          "value": "deployer-button deployer-button--secondary",
          "label": "Bouton secondaire"
        },
        {
          "value": "deployer-button deployer-button--tertiary",
          "label": "Bouton tertiaire"
        }
      ],
      "default": "deployer-button deployer-button--secondary"
    },
    {
      "type": "checkbox",
      "id": "enable_slider_numbering_mobile",
      "label": "Activer la numérotation sur mobile",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "enable_slider_numbering_desktop",
      "label": "Activer la numérotation sur bureau",
      "default": false
    },
    {
      "type": "text",
      "id": "slider_numbering_text",
      "label": "Texte de la numérotation",
      "info": "Optionnel, apparaît devant la numérotation."
    },
    {
      "type": "select",
      "id": "slider_navigation_position_mobile",
      "label": "Position de la navigation sur mobile",
      "options": [
        {
          "value": "top-left",
          "label": "Au dessus - A gauche"
        },
        {
          "value": "top-center",
          "label": "Au dessus - Au centre"
        },
        {
          "value": "top-right",
          "label": "Au dessus - A droite"
        },
        {
          "value": "bottom-left",
          "label": "En dessous - A gauche"
        },
        {
          "value": "bottom-center",
          "label": "En dessous - Au centre"
        },
        {
          "value": "bottom-right",
          "label": "En dessous - A droite"
        }
      ],
      "default": "top-center"
    },
    {
      "type": "select",
      "id": "slider_navigation_position_desktop",
      "label": "Position de la navigation sur bureau",
      "options": [
        {
          "value": "top-left",
          "label": "Au dessus - A gauche"
        },
        {
          "value": "top-center",
          "label": "Au dessus - Au centre"
        },
        {
          "value": "top-right",
          "label": "Au dessus - A droite"
        },
        {
          "value": "bottom-left",
          "label": "En dessous - A gauche"
        },
        {
          "value": "bottom-center",
          "label": "En dessous - Au centre"
        },
        {
          "value": "bottom-right",
          "label": "En dessous - A droite"
        }
      ],
      "default": "top-right"
    },
    {
      "type": "header",
      "content": "Cartes"
    },
    {
      "type": "inline_richtext",
      "id": "verified_text",
      "label": "Texte de vérification",
      "default": "Avis vérifié"
    },
    {
      "type": "select",
      "id": "card_layout",
      "label": "Disposition des cartes",
      "options": [
        {
          "value": "vertical",
          "label": "Cartes verticales"
        },
        {
          "value": "horizontal",
          "label": "Cartes horizontales"
        },
        {
          "value": "stacked",
          "label": "Cartes superposées"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "select",
      "id": "card_media_aspect_ratio",
      "label": "Rapport d'image des cartes",
      "options": [
        {
          "value": "adapt",
          "label": "Adapter à l'image"
        },
        {
          "value": "square",
          "label": "Carré"
        },
        {
          "value": "portrait",
          "label": "Portrait"
        },
        {
          "value": "landscape",
          "label": "Paysage"
        }
      ],
      "default": "landscape"
    },
    {
      "type": "range",
      "id": "card_image_adapt_aspect_ratio",
      "min": 0,
      "max": 10,
      "step": 0.1,
      "default": 1.3,
      "label": "Rapport d'image personnalisé des cartes",
      "info": "Si le choix précédent est \"Adapter à l'image\"."
    },
    {
      "type": "select",
      "id": "card_content_vertical_position",
      "label": "Position verticale du contenu",
      "info": "Si la disposition des cartes est \"horizontale\" ou \"superposée\", cette option détermine la position verticale du contenu.",
      "options": [
        {
          "value": "top",
          "label": "Haut"
        },
        {
          "value": "middle",
          "label": "Milieu"
        },
        {
          "value": "bottom",
          "label": "Bas"
        }
      ],
      "default": "top"
    },
    {
      "type": "select",
      "id": "card_title_layout",
      "label": "Disposition du conteneur de titre",
      "options": [
        {
          "value": "vertical",
          "label": "Titre vertical"
        },
        {
          "value": "horizontal",
          "label": "Titre horizontal"
        }
      ],
      "default": "vertical"
    },
    {
      "type": "checkbox",
      "id": "enable_divider",
      "label": "Afficher le séparateur",
      "default": false
    },
    {
      "type": "header",
      "content": "Pied de page de la section"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texte du bouton"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Lien du bouton"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style du bouton",
      "options": [
        {
          "value": "deployer-button",
          "label": "Bouton"
        },
        {
          "value": "deployer-button deployer-button--secondary",
          "label": "Bouton secondaire"
        },
        {
          "value": "deployer-button deployer-button--tertiary",
          "label": "Bouton tertiaire"
        }
      ],
      "default": "deployer-button"
    },
    {
      "type": "header",
      "content": "Mise en page"
    },
    {
      "type": "range",
      "id": "page_width",
      "min": 1000,
      "max": 1600,
      "step": 100,
      "default": 1500,
      "unit": "px",
      "label": "Largeur de la page"
    },
    {
      "type": "header",
      "content": "Marges de la section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Marge supérieur",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Marge inférieur",
      "default": 60
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "text_alignment",
      "id": "alignment_mobile",
      "label": "Alignement sur mobile",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "alignment_desktop",
      "label": "Alignement sur bureau",
      "default": "center"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Couleur de fond de la section",
      "default": "#FFFDF5"
    },
    {
      "type": "color",
      "id": "section_text_color",
      "label": "Couleur de texte de la section",
      "default": "#364C84"
    },
    {
      "type": "header",
      "content": "Style des cartes"
    },
    {
      "type": "text_alignment",
      "id": "card_alignment",
      "label": "Alignement d'une carte",
      "default": "left"
    },
    {
      "type": "color",
      "id": "card_background_color",
      "label": "Couleur de fond d'une carte",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "card_text_color",
      "label": "Couleur de texte d'une carte",
      "default": "#364C84"
    },
    {
      "type": "color",
      "id": "card_star_color",
      "label": "Couleur des étoiles",
      "default": "#95B1EE"
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "Image",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        }
      ]
    },
    {
      "type": "review",
      "name": "Avis",
      "settings": [
        {
          "type": "header",
          "content": "Contenu"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "range",
          "id": "stars",
          "label": "Nombre d'étoiles",
          "min": 0,
          "max": 5,
          "step": 1,
          "default": 5
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Titre",
          "default": "Titre de l'avis"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Description de l'avis</p>"
        },
        {
          "type": "image_picker",
          "id": "author_image",
          "label": "Image de l'auteur"
        },
        {
          "type": "inline_richtext",
          "id": "footer_text",
          "label": "Texte en bas de carte",
          "default": "<b>Sylvie.V,</b> 11 juin 2024"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Avis",
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "review"
        },
        {
          "type": "image"
        },
        {
          "type": "review"
        },
        {
          "type": "image"
        },
        {
          "type": "review"
        }
      ]
    }
  ]
}
{% endschema %}
