{{ 'section-text-around-image.css' | asset_url | stylesheet_tag }}

{%- style -%}
  #section-{{ section.id }} {
    --page-width: {{ section.settings.page_width | divided_by: 10 }}rem;
    --color-background: {{ section.settings.section_background_color.red }},{{ section.settings.section_background_color.green }},{{ section.settings.section_background_color.blue }};
    --color-foreground: {{ section.settings.section_text_color.red }},{{ section.settings.section_text_color.green }},{{ section.settings.section_text_color.blue }};

    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    text-align: {{ section.settings.alignment_mobile }};
  }

  #section-{{ section.id }} .text-around-image__content--mobile {
    --items-per-row-mobile: {{ section.settings.items_per_row_mobile | default: "2" | times: 1 }};
  }

  #section-{{ section.id }} .text-around-image__content--desktop {
    --image-width: {{ section.settings.image_width }}%;
  }

  @media screen and (min-width: 750px) {
    #section-{{ section.id }} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
      text-align: {{ section.settings.alignment_desktop }};
    }
  }
{%- endstyle -%}

{%- liquid
  assign page_width = section.settings.page_width | default: settings.page_width | default: 1200

  assign section_title = section.settings.title
  assign section_description = section.settings.description
  assign section_button_text = section.settings.button_text
  assign section_button_link = section.settings.button_link
  assign section_button_style = section.settings.button_style | default: 'deployer-button'

  assign section_image = section.settings.image
  assign section_blocks = section.blocks

  assign fetch_priority = 'auto'
  if section.index == 1
    assign fetch_priority = 'high'
  endif
-%}

{%- capture section_image -%}
    <div class="text-around-image__media-item">
        <div class="text-around-image__media"
            {% if section_image != blank %}
                style="padding-bottom: {{ 1 | divided_by: section_image.aspect_ratio | times: 100 }}%;"
            {% endif %}
        >
            {%- if section_image != blank -%}
                {%- assign widths = '165, 360, 535, 750, 1070, 1500' -%}
                {%- capture sizes -%}
                    (min-width: {{ page_width }}px) {{ page_width | minus: 100 | divided_by: 2 }}px,
                    (min-width: 750px) calc((100vw - 130px) / 2), calc((100vw - 50px) / 2)
                {%- endcapture -%}
                {{
                  section.settings.image
                  | image_url: width: 1500
                  | image_tag: sizes: sizes, widths: widths, fetchpriority: fetch_priority
                }}
              {%- else -%}
                {{ 'detailed-apparel-1' | placeholder_svg_tag: 'placeholder-svg' }}
              {%- endif -%}
        </div>
    </div>
{%- endcapture -%}

{%- capture section_left_blocks -%}
    {%- for block in section_blocks -%}
        {%- if block.settings.position == 'left' -%}
            {%- liquid
                assign image_icon = block.settings.image_icon
                assign svg_icon = block.settings.svg_icon
                assign title = block.settings.title
                assign description = block.settings.description
                assign icon_width = block.settings.icon_width | default: 24
            -%}
            <div class="text-around-image__text-item" {{ block.shopify_attributes }}>
                {%- if image_icon != blank or svg_icon != blank -%}
                  <div class="text-around-image__text-item-icon" style="--icon-width: {{ icon_width }}px;">
                    {%- if image_icon != blank -%}
                        <img
                            src="{{ image_icon | image_url: width: 100 }}"
                            alt="{{ image_icon.alt }}"
                            width="{{ icon_width | times: 2 }}"
                            height="auto"
                          >
                    {%- elsif svg_icon != blank -%}
                      {{ svg_icon }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
                {%- if title != blank or description != blank -%}
                  <div class="text-around-image__text-item-content">
                    {%- if title != blank -%}
                        <h4 class="text-around-image__text-item-title">
                          <div class="text-around-image__text-item-icon" style="--icon-width: {{ icon_width }}px;">
                            {%- if image_icon != blank -%}
                              <img
                                  src="{{ image_icon | image_url: width: 100 }}"
                                  alt="{{ image_icon.alt }}"
                                  width="{{ icon_width | times: 2 }}"
                                  height="auto"
                                >
                            {%- elsif svg_icon != blank -%}
                              {{ svg_icon }}
                            {%- endif -%}
                          </div>
                          <span>{{ title }}</span>
                        </h4>
                    {%- endif -%}
                    {%- if description != blank -%}
                        <div class="text-around-image__text-item-description">{{ description }}</div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
            </div>
        {% endif %}
    {%- endfor -%}
{%- endcapture -%}

{%- capture section_right_blocks -%}
    {%- for block in section_blocks -%}
        {%- if block.settings.position == 'right' -%}
            {%- liquid
                assign image_icon = block.settings.image_icon
                assign svg_icon = block.settings.svg_icon
                assign title = block.settings.title
                assign description = block.settings.description
                assign icon_width = block.settings.icon_width | default: 24
            -%}
            <div class="text-around-image__text-item" {{ block.shopify_attributes }}>
                {%- if image_icon != blank or svg_icon != blank -%}
                  <div class="text-around-image__text-item-icon" style="--icon-width: {{ icon_width }}px;">
                    {%- if image_icon != blank -%}
                        <img
                            src="{{ image_icon | image_url: width: 100 }}"
                            alt="{{ image_icon.alt }}"
                            width="{{ icon_width | times: 2 }}"
                            height="auto"
                          >
                    {%- elsif svg_icon != blank -%}
                      {{ svg_icon }}
                    {%- endif -%}
                  </div>
                {%- endif -%}
                {%- if title != blank or description != blank -%}
                  <div class="text-around-image__text-item-content">
                    {%- if title != blank -%}
                        <h4 class="text-around-image__text-item-title">
                          <div class="text-around-image__text-item-icon" style="--icon-width: {{ icon_width }}px;">
                            {%- if image_icon != blank -%}
                                <img
                                    src="{{ image_icon | image_url: width: 100 }}"
                                    alt="{{ image_icon.alt }}"
                                    width="{{ icon_width | times: 2 }}"
                                    height="auto"
                                  >
                            {%- elsif svg_icon != blank -%}
                              {{ svg_icon }}
                            {%- endif -%}
                          </div>
                          <span>{{ title }}</span>
                        </h4>
                    {%- endif -%}
                    {%- if description != blank -%}
                        <div class="text-around-image__text-item-description">{{ description }}</div>
                    {%- endif -%}
                  </div>
                {%- endif -%}
            </div>
        {% endif %}
    {%- endfor -%}
{%- endcapture -%}

<section id="section-{{ section.id }}" class="section text-around-image">
  <div class="section__inner section__page-width">
    {%- if section_title != blank or section_description != blank -%}
      <div class="section__header text-around-image__header">
        {% if section_title != blank %}
          <h2 class="section__title">{{ section_title }}</h2>
        {% endif %}
        {% if section_description != blank %}
          <div class="section__description">{{ section_description }}</div>
        {% endif %}
      </div>
    {%- endif -%}

    <div class="section__content text-around-image__content">
      <div class="text-around-image__content--mobile">
        {{ section_image }}
        <div class="text-around-image__text-items">
          {{ section_left_blocks }}
          {{ section_right_blocks }}
        </div>
      </div>
      <div class="text-around-image__content--desktop">
        <div class="text-around-image__content--desktop-left">
          {{ section_left_blocks }}
        </div>
        <div class="text-around-image__content--desktop-center">
          {{ section_image }}
        </div>
        <div class="text-around-image__content--desktop-right">
          {{ section_right_blocks }}
        </div>
      </div>
    </div>

    {%- if section_button_text != blank and section_button_link != blank -%}
      <div class="section__footer text-around-image__footer">
        <a href="{{ section_button_link }}" class="{{ section_button_style }}">{{ section_button_text }}</a>
      </div>
    {%- endif -%}
  </div>
</section>

{% schema %}
{
  "name": "Textes autour d'une image",
  "settings": [
    {
      "type": "header",
      "content": "En-tête de la section"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "Titre",
      "default": "Textes autour d'une image"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "Description",
      "default": "<p>Je suis une section qui permet de mettre des textes autour d'une image.</p>"
    },
    {
      "type": "header",
      "content": "Contenu de la section"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "range",
      "id": "image_width",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "label": "Largeur de l'image",
      "default": 25
    },
    {
      "type": "select",
      "id": "items_per_row_mobile",
      "label": "Nombre d'éléments par ligne sur mobile",
      "options": [
        {
          "value": "1",
          "label": "1"
        },
        {
          "value": "2",
          "label": "2"
        }
      ],
      "default": "2"
    },
    {
      "type": "header",
      "content": "Pied de page de la section"
    },
    {
      "type": "text",
      "id": "button_text",
      "label": "Texte du bouton"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Lien du bouton"
    },
    {
      "type": "select",
      "id": "button_style",
      "label": "Style du bouton",
      "options": [
        {
          "value": "deployer-button",
          "label": "Bouton"
        },
        {
          "value": "deployer-button deployer-button--secondary",
          "label": "Bouton secondaire"
        },
        {
          "value": "deployer-button deployer-button--tertiary",
          "label": "Bouton tertiaire"
        }
      ],
      "default": "deployer-button"
    },
    {
      "type": "header",
      "content": "Mise en page"
    },
    {
      "type": "range",
      "id": "page_width",
      "min": 1000,
      "max": 1600,
      "step": 100,
      "default": 1200,
      "unit": "px",
      "label": "Largeur de la page"
    },
    {
      "type": "header",
      "content": "Marges de la section"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Marge supérieur",
      "default": 60
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Marge inférieur",
      "default": 60
    },
    {
      "type": "header",
      "content": "Style"
    },
    {
      "type": "text_alignment",
      "id": "alignment_mobile",
      "label": "Alignement sur mobile",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "alignment_desktop",
      "label": "Alignement sur bureau",
      "default": "center"
    },
    {
      "type": "color",
      "id": "section_background_color",
      "label": "Couleur de fond de la section",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "section_text_color",
      "label": "Couleur de texte de la section",
      "default": "#202020"
    }
  ],
  "blocks": [
    {
      "name": "Texte",
      "type": "text",
      "limit": 6,
      "settings": [
        {
          "type": "header",
          "content": "Contenu"
        },
        {
          "type": "image_picker",
          "id": "image_icon",
          "label": "Icône en image"
        },
        {
          "type": "liquid",
          "id": "svg_icon",
          "label": "Icône en svg"
        },
        {
          "type": "number",
          "id": "icon_width",
          "label": "Largeur de l'icône (px)",
          "default": 24
        },
        {
          "type": "inline_richtext",
          "id": "title",
          "label": "Titre",
          "default": "Titre du bloc"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description",
          "default": "<p>Description du bloc</p>"
        },
        {
          "type": "header",
          "content": "Disposition"
        },
        {
          "type": "select",
          "id": "position",
          "label": "Position",
          "options": [
            {
              "value": "left",
              "label": "Gauche"
            },
            {
              "value": "right",
              "label": "Droite"
            }
          ],
          "default": "left"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Textes autour d'une image",
      "blocks": [
        {
          "type": "text",
          "settings": {
            "position": "left"
          }
        },
        {
          "type": "text",
          "settings": {
            "position": "left"
          }
        },
        {
          "type": "text",
          "settings": {
            "position": "left"
          }
        },
        {
          "type": "text",
          "settings": {
            "position": "right"
          }
        },
        {
          "type": "text",
          "settings": {
            "position": "right"
          }
        },
        {
          "type": "text",
          "settings": {
            "position": "right"
          }
        }
      ]
    }
  ]
}
{% endschema %}
